boyd{
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.profile{
    height: 200px;
    border-radius: 50%;
    width: 200px;
    object-fit: cover;
    border: 6px solid rgb(0, 0, 0);
    
}
.header{
    background-image: url(./black-white-background_23-2150530990.avif);
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;
      font-family: "Jost", sans-serif;
      color: #800020;
}
.nav-items{
    list-style: none;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27233A;


}
li{
    display: flex;
    justify-content: center;
    align-self: center;
    justify-items: center;
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
    font-size: large;
    margin-right: 30px;
    color: white;


}
.first{
    margin-left: 20px;
    margin-right: 800px;
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
}
.first:hover{
    transform: scale(1.4);
}

.lio{
    transition: color 0.3s;

}
.lio:hover{
    color: red;
}
.nav-item{
    transition: transform 0.25s;
    cursor: pointer;
}
.nav-item:hover{
    transform: scale(1.3);

}
.profile-div{
   
}
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height:100vh ;
   
    display: flex;
    align-items: center;
    justify-content: center;

}


.image{
    width: 150px;
    height: 150px;
    background-color: #50a6c5;
    border-radius: 50%;
    padding: 3px;
    position: relative;
    margin-bottom: 15px;

    

}
.profile-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    border: 3px solid white;
    
   
    
    

}
.profile-card{
    max-width: 370px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    



}
.profile-card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0 ;
    background-color: #50a6c5;
}
.info-card{
    display: flex;
    flex-direction: column;
    align-items: center;



}
.name{
    font-weight: 600;
    font-size: 22px;
}

.info{
    color: grey;
    font-size: 15px;
    margin-bottom: 20px;
}
.icons{
    display: flex;
    align-items: center;
    margin-bottom: 25px;

}
.link{
    background-color: blue;
   
    margin: 0 8px;
    color: white;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;

}

button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 50px;
    

}
.call{
    padding: 5px 18px;
    
}
.text{
    padding: 5px 15px;
    margin-left: 15px;
}
.emoji{
    display: flex;
    align-items: center;


}
.btn{
    margin-bottom: 25px;
}
.emoji-insta{
   display: flex;
   align-items: center;
   color:#333 ;    
   padding: 0 20px;
   text-decoration: none;
   border-right: 2px solid #e7e7e7;
   font-size:18px;
   margin-right: 6px;


}
.emoji-insta:last-child{
    border-right: none;

}



